{% extends 'base.html' %}

{% load static %}
{% block title %} {{ room.room_name }} Chat {% endblock%}

{% block content %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<div class="app-container">
    <div class="sidebar">
        <div class="profile-section">
            {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="Profile" class="profile-pic">
            {% endif %}
            <span class="username">{{ user.username }}</span>
        </div>
        <!-- <div class="search-bar">
            <input type="text" placeholder="Search or start new chat">
        </div> -->
        <div class="chat-list">
            <p><strong>Room Members</strong></p>
            <hr>
            {%for m in members %}
            {% if m != request.user.profile %}
            <div class="chat-item">
                {% if m.avatar %}
                <img src="{{ m.avatar.url }}" alt="Contact" class="contact-pic">
                {% endif %}
                <div class="chat-info">
                    <span class="contact-name">{{ m.user.username }} </span>
                    <!-- <span class="last-message">Last message...</span> -->
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <!--Add more chat items here  -->
        </div>
    </div>
    <div class="chat-window">
        <div class="chat-header">
            {% if room.avatar %}
            <img src="{{ room.avatar.url }}" alt="Contact" class="contact-pic">
            {% endif %}
            <span class="contact-name">{{ room.room_name }} Chat Room</span>
        </div>

        <!-- pulls the partial chat html -->

        {% include 'partial.html' %}

        <!-- end pulls -->

        <!-- <form id="demo_form" enctype="multipart/form-data"
            id="myForm"
            hx-post="{% url 'chat' room.room_name %}"
            hx-target="#test"
            hx-swap="outerHTML"
	    _="on htmx:afterRequest reset() me"
            > -->
        <form id="demo_form" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="file" type="file" id="filebtn" hidden>
            <span class="input-group-text attach_btn">
                <label for="filebtn">
                    <i class="fas fa-paperclip"></i>
                </label>
            </span>
            <div class="message-input">
                <input id="content" name="content" type="text" placeholder="Type a message" id="content" required>
                <input type="text" id="author" name="author" value="{{ request.user.username }}" hidden>
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Establish websocket connection
    const room_name = '{{ room.room_name }}';
    const socketUrl = `ws://${window.location.host}/ws/chat/${room_name}`
    const chatSocket = new WebSocket(socketUrl);
    console.log("Socket connection established");

    // send message to the websocket
    const chatForm = document.getElementById("demo_form");
    chatForm.addEventListener("submit", function (event) {
        //prevent default submit
        event.preventDefault();

        let content = document.getElementById("content").value;
        let author = document.getElementById("author").value;

        chatSocket.send(
            JSON.stringify({
                "content": content,
                "author": author,
            })
        );
        console.log("Message sent.....resetting form ....");
        this.reset();
    });

    // receive and render responses
    chatSocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
	
	if (data.hasOwnProperty("content")) {
        console.log(data['content']);
        console.log(data['author']);

        //update the chat container
        const chatdiv = document.getElementById("test");

        const content = data['content'];
        const author = data["author"];
        const username = "{{ request.user.username }}"; // django username

        // create ne div for the chat response
        const new_div = document.createElement("div");
        if (author == username) {
            new_div.className = "message sent";
        } else {
            new_div.className = "message received";
        }
        console.log("div created");

        const new_p = document.createElement("p");//new paragraph
        new_p.textContent = content;// set the chat content
        new_div.appendChild(new_p); // add the paragraph to the div
        console.log("set text content");
        chatdiv.appendChild(new_div);
        console.log("append div");

        // scroll
        function chatScroll() {
            const chatbox = document.getElementById('test');
            chatbox.scrollTop = chatbox.scrollHeight;
        }
        chatScroll()

        document.addEventListener("DOMContentLoaded", function () {
            var test = document.getElementById("test");
            test.scrollTop = test.scrollHeight;
        });
	} else if (data.hasOwnProperty("note")) {
		const note = data['note'];
		const count = parseInt(data['count']);
		//alert(note);
	}
    };
    //chatSocket.onclose = 



</script>
<!-- <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script> -->
{% endblock %}
