{% include 'base.html' %}
{% load static %}
{% block content %}
<center>
    {{ request.user.profile.pID }}
    </br>
    <form action="{% url 'create_room' %}" method="post">
        {% csrf_token %}
        <input name="room_name" type="text" required minlength="3">
        <button type="submit">Create Room</button>
    </form>
    </br>
    <form method="get">
        {{ filter.form.as_p }}
        <button type=submit">Search</button>
    </form>
    </br>
    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Room Name</th>
                <th scope="col">Date Created</th>
                <th scope="col">Join</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in filter.qs reversed %}

            <tr>
                <td> <a href="{% url 'chat' obj.room_name %}"> {{ obj.room_name }} </a></td>
                <td>{{ obj.created_at }}</td>
                <td>
                    <form action="{% url 'joinroom' %}" method="post">
                        {% csrf_token %}
                        <input name="room_name" value="{{ obj.room_name }}" type="hidden">
                        {% if request.user.profile in obj.members.all %}
                        <input type="submit" value="Leave">
                        {% else %}
                        <input type="submit" value="Join">
                        {% endif %}
                    </form>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

</center>
{% endblock %}