<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <br><br>
    <center>
        Haha
    <br>
    <br>

    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" required><br><br>
        <input type="text" name="room" placeholder="room name" required><br><br>
        <input type="submit" value="Join">

    </form>
    </center>
</body>
</html>