<div id="test" class="chat-messages">
    {% for chat in chats %}
    {% if chat.author == user.profile %}
    <div class="message sent">
        <p>{{ chat.content }}</p>
    </div>
    {% else %}
    <div class="message received">
        <p>{{ chat.content }}</p>
    </div>
    {% endif %}
    {% endfor %}

</div>
<script>
    function chatScroll() {
        const chatbox = document.getElementById('test');
        chatbox.scrollTop = chatbox.scrollHeight; 
    }
    chatScroll()

    document.addEventListener("DOMContentLoaded", function() {
        var test = document.getElementById("test");
        test.scrollTop = test.scrollHeight;
    });
</script>